@import './addons.css'; 
.plan_background{
    background-color: #21d4fd;

}
.plan_col:nth-child(n){
    background-color: #E1E1E1;
}
.plan_col:nth-child(2n){
    background-color: #F2F2F2;
}

.note_item{
    width: 28px;
    max-width: 28px;
    height: 28px;
    max-height: 28px;
}